.ear3-main-container{
    margin: 0;
    padding: 2em;
}
.ear3-main-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90%;
}
.ear3-ul{
    display: flex;
}
                    .ear3-li{
                        list-style: none;
                        margin: 0 0.75em;
                        transition: ease-in-out;
                        cursor: pointer;
                        border-radius: 70%;
                        padding: 1em 1.5em;
                        background-color: #87BFFF;
                    }
                    .ear3-li:hover{
                        color: #e4cd74;
                        /* font-size: 1.5rem; */
                    }
.main-grid{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 12rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
.h2-subtitle{
    width: 8em;
    margin: 1em auto;
}
@media (min-width: 1281px) {
    .ear3-li{
        font-size: 1.5rem;
    }
}