body {
  margin:0;
  background-image: url("./imgs/hero/pic (3).jpg");
  background-size: auto;

  font-family:'Poppins', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 1rem; */
}

li{
  list-style: none;
}
li{
  list-style: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width:1281px) {
  body{
    font-size: 1.75rem;
  }
  
}