body {
  margin:0;
  background-image: url("./imgs/hero/pic (3).jpg");
  background-size: auto;

  font-family:'Poppins', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
